<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoiceChanger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7C133031F5A7CC2001C3C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C133171F5A7CC3001C3C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C133221F5A7CC3001C3C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
